.about {
  background-color: whitesmoke;

  overflow: hidden;
}

.nav-buttons {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.social-icons {
  display: flex;
  gap: 10px;
  position: relative;
  right: -145px ;
  top: 10px;

}



.social-icons a {
  color: #461ae6;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0077b5; /* LinkedIn blue or any other color */
}



.nav-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-buttons button:hover {
  background-color: #0056b3;
}

.back-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 1.5rem;
  cursor: pointer;
}

.back-button:hover {
  color: #0056b3;
}

section {
  padding: 20px;
  overflow: hidden; /* Prevent scrolling */
}

/* Flexbox layout for #about-me */
#about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh; /* Full viewport height */
  padding: 20px;
  overflow: hidden; /* Prevent scrolling */
}

/* Styles for text section */
.set {
  text-align: center;
  margin: 0; /* Remove default margin */
  position: relative;
  top: -50px; /* Move text section slightly up */
}

/* Styles for text within .set */
.set h1 {
  position: inherit;
  left: -40px;
  top: 10px;
  font-size: 2.5rem; 
  font-weight: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0; 
  background-image: linear-gradient(43deg,#4158d0 0%, #c850c0 46%,#bb3232 );
  -webkit-background-clip: text;
  color: transparent;
  
 
}



.elevator-pitch {
  line-height: 1.3; /* Adjust line height */
  max-width: 650px; /* Limit the width for text to wrap */
  position: relative;
  top: 25px;
 font-family: Arial, Helvetica, sans-serif; text-align: left;

  font-size: 20px;
}


.set h2 {
  font-weight: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  left: -185px;
  top: 15px;
}



.download-resume{
  position: relative;
  top: 50px;
  right: 260px;
}

.image-section {
  display: flex;
  justify-content: center;
  position: relative;
  top: -60px; 
}

.image-section img {
  max-width: 280px; 
  height: auto;
  border-radius: 50%; 
  position: inherit;
  top: 20px;
  right: 50px;
 
}
